<div class="row" *ngIf="this.skillscnt >0">
    <div class="col-md-6" data-aos="zoom-in">
        <div *ngFor="let item of data; index as i">
            <div class="col-md-10"  *ngIf="(i+1)<=skillscnt">
                <div class="skills"  class="p-2">
                    <div class="details">
                        <span>{{item.name}}  <small *ngIf="item.contentHtml != ''">({{item.contentHtml}})</small></span>
                        <span>{{item.percent}}%</span>
                    </div>
                    <div class="bar bar-{{i+1}}">
                        <div id="my-bar"  [style.width.%]="item.percent"></div>
                    </div>
                </div>
              </div>
        </div>          
    </div>

    <div class="col-md-6" data-aos="zoom-in" *ngIf="this.skillscnt >1">
        <div *ngFor="let item of data; index as i" >
            <div class="col-md-10"  *ngIf="(i+1)>skillscnt">
                <div class="skills"  class="p-2">
                    <div class="details">
                        <span>{{item.name}} <span class="small">({{item.contentHtml}})</span></span>
                        <span>{{item.percent}}%</span>
                    </div>
                    <div class="bar bar-{{i+1}}">
                        <div id="my-bar" [style.width.%]="item.percent"></div>
                    </div>
                </div>
              </div>
        </div>    

  </div>
</div>
