
.formDiv{
    margin: auto !important;
    background-color: var(--box-background-colour) !important;
}

button{
    border: none !important;;
}

.resetbtn{
    background-color: var(--site-secondary-color);
}